#title {
    height: 125px;
    padding-top: 25px;
    width: 90%;
    margin: auto;
    color: #1d001e;
}

#message {
    margin: 0;
    font-size: 2rem;
    padding: 0;
    font-weight: bold;
}

#score-area {
    font-size: 1.25rem;
    font-weight: bold;
}

.pink-wrap {
    background: #ea91b5;
}

#game-name {
    float: left;
    font-size: 2.5rem;
    font-weight: bold;
}

a {
    color: #1d001e;
    text-decoration: none;
}

a:hover {
    color: #1d001e
}

a:visited {
    color: #1d001e
}

@media screen and (max-width: 850px){

    #game-name {
        float: left;
        font-size: 1.25rem;
        font-weight: bold;
    }

    #score-area {
        font-size: .9rem;
        font-weight: bold;
    }

    #message {
        margin: 0;
        font-size: 1.1rem;
        padding: 0;
        font-weight: bold;
    }

}