.card {
    background: #fff;
    border-radius: 10px;
    border: 10px solid #bae5ec;
    height: 250px;
    margin: 15px;
    width: 250px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
}

.card > .card-body {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#eca7ca;
}
.card > .card-body > img {
    width: 100% 
}